# AS6095 "Astroinformatics"

## for academic year 2023 (from Sep/2023 to Jan/2024)

## instructor: Kinoshita Daisuke

## Course web page: https://s3b.astro.ncu.edu.tw/ai_202309/

## GitHub repository: https://github.com/kinoshitadaisuke/ncu_astroinformatics_202309

# Session 06 "Making and using relational database"

## 23 October 2023

# Downloading a set of sample Python scripts and changing directory

In [ ]:
# Run this cell to download a set of sample Python scripts for this course.

!git clone https://github.com/kinoshitadaisuke/ncu_astroinformatics_202309.git

In [ ]:
# Run this cell to check whether you have a directory named "ncu_astroinformatics_202309".

!ls

In [ ]:
# Run this cell to move to the directory "ncu_astroinformatics_202309".

%cd ncu_astroinformatics_202309

In [ ]:
# Run this cell to show currently working directory.

!pwd

In [ ]:
# Run this cell to show files and directories.

!ls -lF

In [ ]:
# Run this cell to move to the directory "s06".

%cd s06

In [ ]:
# Run this cell to show currently working directory.

!pwd

In [ ]:
# Run this cell to show files and directories.

!ls -lF

# Installation of SQLite

In [ ]:
# Run this cell to check whether or not you have a command "sqlite3".

!which sqlite3

In [ ]:
# Install the command "sqlite3" if you do not have it.

!apt install sqlite3

In [ ]:
# Run this cell to check whether or not you have a command "sqlite3".

!which sqlite3

In [ ]:
# Run this cell to show the version of SQLite.

!sqlite3 --version

# Learning usage of SQLite

In [ ]:
# Run this cell to read the online manual of sqlite3.

!cat man.sqlite3

In [ ]:
# Run this cell to show available commands of SQLite.

!sqlite3 '' '.help'

# Making a small database

## Making a table

In [15]:
# Run this cell to make a table for planets database.

!sqlite3 planet0.db 'create table planet (name text primary key, mass real, diameter real, rotation_period real, orbital_period real, mean_temperature real, satellite integer, ring text, magnetic_field text);'

In [16]:
# Run this cell to show a list of database tables stored in file "planet0.db".

!sqlite3 planet0.db '.tables'

planet

In [17]:
# Run this cell to show the structure of the table "planet".

!sqlite3 planet0.db '.schema'

CREATE TABLE planet (name text primary key, mass real, diameter real, rotation_period real, orbital_period real, mean_temperature real, satellite integer, ring text, magnetic_field text);

## Adding data to table

In [18]:
# Run this cell to add data of Mercury.

!sqlite3 planet0.db 'insert into planet values ("Mercury", 3.30E23, 4.879E3, 1407.6, 88.0, 167, 0, "No", "Yes");'

In [19]:
# Run this cell to add data of Venus.

!sqlite3 planet0.db 'insert into planet values ("Venus", 4.87E24, 1.2104E4, -5832.5, 224.7, 464, 0, "No", "No");'

In [20]:
# Run this cell to add data of Earth.

!sqlite3 planet0.db 'insert into planet values ("Earth", 5.97E24, 1.2756E4, 23.9, 365.2, 15, 1, "No", "Yes");'

In [21]:
# Run this cell to add data of Mars.

!sqlite3 planet0.db 'insert into planet values ("Mars", 6.42E23, 6.792E3, 24.6, 687.0, -65, 2, "No", "No");'

In [22]:
# Run this cell to add data of Jupiter.

!sqlite3 planet0.db 'insert into planet values ("Jupiter", 1.898E27, 1.42984E5, 9.9, 4331, -110, 79, "Yes", "Yes");'

In [23]:
# Run this cell to add data of Saturn.

!sqlite3 planet0.db 'insert into planet values ("Saturn", 5.68E26, 1.20536E5, 10.7, 10747, -140, 82, "Yes", "Yes");'

In [25]:
# Run this cell to add data of Uranus.

!sqlite3 planet0.db 'insert into planet values ("Uranus", 8.68E25, 5.1118E4, -17.2, 30589, -195, 27, "Yes", "Yes");'

Error: stepping, UNIQUE constraint failed: planet.name (19)

In [26]:
# Run this cell to add data of Neptune.

!sqlite3 planet0.db 'insert into planet values ("Neptune", 1.02E26, 4.9528E4, 16.1, 59800, -200, 14, "Yes", "Yes");'

## Trying SQL queries

In [27]:
# Run this cell to print all the columns for each record.

!sqlite3 planet0.db 'select * from planet;'

Mercury|3.3e+23|4879.0|1407.6|88.0|167.0|0|No|Yes
Venus|4.87e+24|12104.0|-5832.5|224.7|464.0|0|No|No
Earth|5.97e+24|12756.0|23.9|365.2|15.0|1|No|Yes
Mars|6.42e+23|6792.0|24.6|687.0|-65.0|2|No|No
Jupiter|1.898e+27|142984.0|9.9|4331.0|-110.0|79|Yes|Yes
Saturn|5.68e+26|120536.0|10.7|10747.0|-140.0|82|Yes|Yes
Uranus|8.68e+25|51118.0|-17.2|30589.0|-195.0|27|Yes|Yes
Neptune|1.02e+26|49528.0|16.1|59800.0|-200.0|14|Yes|Yes

In [28]:
# Run this cell to print the header and all the columns for each record of the table.

!sqlite3 -header planet0.db 'select * from planet;'

name|mass|diameter|rotation_period|orbital_period|mean_temperature|satellite|ring|magnetic_field
Mercury|3.3e+23|4879.0|1407.6|88.0|167.0|0|No|Yes
Venus|4.87e+24|12104.0|-5832.5|224.7|464.0|0|No|No
Earth|5.97e+24|12756.0|23.9|365.2|15.0|1|No|Yes
Mars|6.42e+23|6792.0|24.6|687.0|-65.0|2|No|No
Jupiter|1.898e+27|142984.0|9.9|4331.0|-110.0|79|Yes|Yes
Saturn|5.68e+26|120536.0|10.7|10747.0|-140.0|82|Yes|Yes
Uranus|8.68e+25|51118.0|-17.2|30589.0|-195.0|27|Yes|Yes
Neptune|1.02e+26|49528.0|16.1|59800.0|-200.0|14|Yes|Yes

In [29]:
# Run this cell to print the header and name, mass, diameter, and number of satellites of each planet.

!sqlite3 -header planet0.db 'select name,mass,diameter,satellite from planet;'

name|mass|diameter|satellite
Mercury|3.3e+23|4879.0|0
Venus|4.87e+24|12104.0|0
Earth|5.97e+24|12756.0|1
Mars|6.42e+23|6792.0|2
Jupiter|1.898e+27|142984.0|79
Saturn|5.68e+26|120536.0|82
Uranus|8.68e+25|51118.0|27
Neptune|1.02e+26|49528.0|14

In [30]:
# Run this cell to print the header and name, mass, diameter, and number of satellites of each planet by fancy output format.

!sqlite3 -header -column planet0.db 'select name,mass,diameter,satellite from planet;'

name     mass       diameter  satellite
-------  ---------  --------  ---------
Mercury  3.3e+23    4879.0    0
Venus    4.87e+24   12104.0   0
Earth    5.97e+24   12756.0   1
Mars     6.42e+23   6792.0    2
Jupiter  1.898e+27  142984.0  79
Saturn   5.68e+26   120536.0  82
Uranus   8.68e+25   51118.0   27
Neptune  1.02e+26   49528.0   14

In [31]:
# Run this cell to print the header and name, mass, diameter, number of satellites, existence of ring system, existence of global magnetic field of each planet by fancy output format.

!sqlite3 -header -column planet0.db 'select name,mass,diameter,satellite,ring,magnetic_field from planet;'

name     mass       diameter  satellite  ring  magnetic_field
-------  ---------  --------  ---------  ----  --------------
Mercury  3.3e+23    4879.0    0          No    Yes
Venus    4.87e+24   12104.0   0          No    No
Earth    5.97e+24   12756.0   1          No    Yes
Mars     6.42e+23   6792.0    2          No    No
Jupiter  1.898e+27  142984.0  79         Yes   Yes
Saturn   5.68e+26   120536.0  82         Yes   Yes
Uranus   8.68e+25   51118.0   27         Yes   Yes
Neptune  1.02e+26   49528.0   14         Yes   Yes